@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  padding: 0; 
  margin: 0; 
}
body{
	background-color: rgb(212, 209, 209);
}
.calculator {
	border-radius: 12px;
	box-shadow: 0 0 40px 0px rgba(59, 59, 59, 0.192);
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	max-width: 18.68em; 

	overflow: hidden;
	
  }
  .display {
	background-color: #222222;
	color: #fff;
	font-size: 1.714285714em;
	padding: 0.5em 0.75em;
	text-align: right;
  }

.container{
	background-color: #6b6b6b;
	font-size: 20px;
	font-weight: bold;
	padding: 0.7em 0.4em 0.7em 0.4em;
    display: grid;
    grid-template-columns: repeat(4 , 1fr); 
    grid-template-rows: repeat(4, 1fr);; 
    gap: 5px; 
}

.container > button{
    cursor: pointer;

}

.equal{
	grid-column:4 ;
    grid-row: 2 / 6;
}
#results{
	font-size: 30px;
	color: rgb(233, 233, 227);
	width: 100%;
	height: 50px;
	background-color:#222222; 
	border: 1px rgb(180, 180, 180) solid;
	outline: none;
	text-align: right;
}




