@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  padding: 0; 
  margin: 0; 
}

.container{
	display: inline-block;
	margin: 2px;
	width: 42px;
	height: 42px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 4px;

    display: grid;
    grid-template-columns: repeat(4 , 50px); 
    grid-template-rows: repeat(5, 50px); 
    gap: 10px;

   
}


.equal{
    grid-column: 3 / 5;
}
/* .math {
	margin: 2px 2px 6px 2px;
	color: #FFF;
	background-color:rgb(64, 66, 65)
}	
.num {
	color: #181818;
	text-shadow: 1px 1px 0px #FFF;
	background-color: #EBEBEB;
	border-top: 2px solid #FFF;
	border-right: 2px solid #FFF;
	border-bottom: 2px solid #C1C1C1;
	border-left: 2px solid #C1C1C1;
	border-radius: 4px;
	box-shadow: 0px 0px 2px #030303;

}

#clearBtn {
    color: #181818;
	text-shadow: 1px 1px 0px #FFF;
	background-color: #EBEBEB;
	border-top: 2px solid #FFF;
	border-right: 2px solid #FFF;
	border-bottom: 2px solid #C1C1C1;
	border-left: 2px solid #C1C1C1;
	border-radius: 4px;
	box-shadow: 0px 0px 2px #030303;
}
 */

.container > button{
    cursor: pointer;

}

